<% if user_signed_in? %>
  <header class="navbar navbar-expand-lg bg-light justify-content-between ps-4">
    <h3 class="me-5 ">Blog App</h3>
    <nav class="d-flex container justify-content-between">
      <div class="position-relative top-60 start-50 translate-middle">
        <%= current_user.name %>
      </div>
      <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-outline-success"%>
  </nav>
  </header>
<% end %>