/* User */

a {
  text-decoration: none;
  color: rgb(66, 66, 66);
}

section {
  margin: 30px 0 0;
}

.user_profile,
img {
  width: 100px;
  height: 77px;
}

.list_users {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.user {
  display: flex;
  gap: 25px;
  max-height: 300px;
}

.user_info {
  display: flex;
  border: 1px solid black;
  width: 70%;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

.user_activity {
  margin-right: 12px;
  margin-top: 40px;
}

.user_name {
  margin-left: 2%;
  font-size: 20px;
}

.user_bio {
  padding: 10px;
  width: auto;
  border: 1px solid black;
}

.user_post {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 30px 0;
}

.posts_list {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  border: 1px solid black;
  padding: 10px;
}

.postings {
  align-self: flex-end;
}

.post_headline {
  display: flex;
}

.like_comment {
  margin-top: -35px;
  display: flex;
  justify-content: flex-end;
}

/* Posts */

.user-posts {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
}

.list_posts {
  padding: 20px;
  border: 3px solid black;
}

.post_comment {
  list-style: none;
  border: 2px solid black;
  margin-top: 20px;
  padding: 10px;
}

.list_button {
  margin-top: 30px;
  margin-left: 45%;
  padding: 8px 16px;
  border: 2px solid black;
}
